html
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.input
{
    resize: none;
    width: 200px;
}

#height
{
    width: 500px
}


.column-row
{
    display: inline-block;
    padding-right: 45px;
}

.chance-slider
{
    display: inline-block;
}


.slider-text
{
    line-break: strict;
}